html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: sans-serif, monospace;
}

.pics {
    font-size: 50px;
    font-weight: 200;
    line-height: .5rem;
    margin-top: 100px;
    margin-bottom: 50px;
}

.contain {
    position: relative;
    width: 100%;
    /* margin-left: 10%;  */
    /* margin-right: 5%; */
}
  
.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(116, 79, 79, 0.19);
}
  
.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.contain:hover .image {
    opacity: 0.3;
}
  
.contain:hover .middle {
    opacity: 1;
}
  
.text {
    /* background-color: #4CAF50; */
    /* background: linear-gradient( 
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
    ); */
    color: black;
    font-size: 20px;
    padding: 16px 32px;
    /* color: #f2f2f2; */
    /* font-size: 15px; */
    /* padding: 8px 12px; */
    /* position: absolute; */
    /* bottom: 8px; */
    width: 100%;
    /* text-align: center; */
}

.container {
    margin-left: 30px;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#icon {
    margin-top: 15px;
    margin-right: 10px;
}

.head-1 {
    display: flex;
    padding-left: 70px;
    margin-bottom: 0px;
    background-color: rgb(22, 22, 104);
    color: whitesmoke;
    text-align: center;
}

.head-1 div img {
    width: 20px;
    border-radius: 50%;
    height: 20px;
    margin-top: 15px;
}

.head-1 div {
    display: flex;
    margin-right: 20px;
}

/* header { */
    /* background-color: red; */
/* } */

.logo{
    width: 80px;
    padding-left: 0px;
    margin-top: 20px;
    height: 80px;
}

.pics-container {
    padding-bottom: 50px;
    margin-left: -30px;
    background-image: url(./images/img-1.jpeg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: whitesmoke;
}

.pics-1 {
    /* display: flex; */
    padding-left: 30px;
    /* justify-content: space-between; */
    padding-bottom: 0px;
    transition: all 0.5s;
    /* background-image: linear-gradient( */
        /* to top, */
        /* rgba(0, 0, 0, 0.5), */
        /* rgba(0, 0, 0, 0.5) */
    /* ); */
    /* background: linear-gradient(to bottom, black); */
}

.pics-2 {
    margin-left: 30px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.pics-2 h1 {
    font-size: 50px;
    font-weight: 200;
    line-height: .5rem;
    margin-bottom: 50px;
}

.pics-2 p{
    font-size: 20px;
    font-weight: 200;
    line-height: .3rem;
    
}

.pics-3 {
    padding-left: 30px;
    margin-top: 50px;
    margin-bottom: 100px;
}

.pics-3 a {
    font-size: 16px;
    text-decoration: none;
    border: none ;
    border-radius: 5px;
    color: black;
    margin-bottom: -100px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    background-color: white;
}


.hide-desktop{
    display: none;
}

#menu{
    width: 50px;
    margin-top: 45%;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 0px;
    padding-bottom: 10px;
    margin-top: 0px;
    /* color: whitesmoke; */
}

/* .header { */
    /* background-color: white; */
    /* position: fixed; */
    /* justify-content: space-between; */
/* } */

#exit-btn{
    width: 15px;
    cursor: pointer;
    margin-bottom: 10px;
    display: none;
  /*  margin-bottom: 3em;
    margin-top: -2.8em;
    padding: 0 1.4em;
*/
}

#hide-mobile {
    display: flex;
    padding-right: 50px;
    padding-top: 20px;
}

.inner-div{
    display: flex;
    padding-right: 50px;
    padding-top: 20px;
    /* color: whitesmoke; */
}

.inner-div div a {
    text-decoration: none;
    /* color: black; */
    margin-right: 30px;
    color: whitesmoke;
    
}

#hide-mobile li {
    margin-right: 30px;
    
}
 
#hide-mobile li a {
    text-decoration: none;
    color: black;
}

.about {
    display: flex;
    padding-right: 15%;
    padding-left: 15%;
    margin-top: 100px;
    justify-content: space-evenly;
}

.about img {
    width: 400px;
    margin-bottom: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(116, 79, 79, 0.19);

}

.about p {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5rem;
    margin-left: 10px;
}

.process {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
    padding-left: 0%;
    padding-right: 5%;
}

.process div {
    border: solid 1px gray;
    border-radius: 10px;
    padding-left: 20px;
    margin-left: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(116, 79, 79, 0.19);
}

.process div p {
    line-height: 1.5rem;
    color: rgb(48, 45, 45);
}

.process div h1 {
    font-weight: 300;
    font-size: 25px;
    color: rgb(250, 105, 9);
}

.import {
    /* margin-left: 20%; */
    border: solid 1px ;
    border-radius: 5px;
    margin-right: 5%;
    padding-bottom: 50px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(116, 79, 79, 0.19); */
}

.export {
    /* margin-right: 20%; */
    border: solid 1px ;
    border-radius: 5px;
    margin-left: 5%;
    padding-bottom: 50px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(116, 79, 79, 0.19); */
}

.mySlides {display: none}
.contain img {vertical-align: middle;}


.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-right: 25px;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
}

.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: #717171;
}
  
.fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
} 

/* .slideshow-contain { 
    max-width: 1000px;
    position: relative;
    margin: auto;
} */

/* .mySlide {display: none} */

.fad {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
  
@-webkit-keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
  
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
} 

.slideshow {
    max-width: 1000px;
    position: relative;
    margin: auto;
    margin-right: 25px;
}

.mySlide {display: none}
.contain img {vertical-align: middle;}

.pre, .nex {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.nex {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.pre {
    left: 0;
    border-radius: 3px 0 0 3px;
}

.pre:hover, .nex:hover {
    background-color: rgba(0,0,0,0.8);
}

.do {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.Active, .do:hover {
    background-color: #717171;
}

  
.information{
    margin-top: 100px;
}

.info-1{
    margin-bottom: 50px;
}

.info-1 h1 {
    font-size: 50px;
    font-weight: 200;
    line-height: .5rem;
    margin-bottom: 50px;
}

.info-1 p {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5rem;
    padding-right: 30%;
}

.info-2 {
    display: flex;
}



.info-2 img {
    width: 150px;
    margin-bottom: 30px;
    padding-right: 0px;
    padding-left: 0px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(116, 79, 79, 0.19);
    
}

.info-2 div {
    border: solid 1px ;
    border-radius: 5px;
    margin-right: 50px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(116, 79, 79, 0.19); */
}

.info-2 div h3 {
    padding-left: 10px;
    padding-right: 10px;
    font-weight: 400;
    line-height: .5rem;
} 

.info-2 div p {
    font-weight: 200;
    line-height: 1.5rem;
    padding-left: 10px;
    padding-right: 10px;
} 

.a6 img{
    height: 110px;
}

.price{
    margin-top: 100px;
}

.price h1 {
    font-size: 50px;
    font-weight: 200;
    line-height: .5rem;
    margin-bottom: 50px;
}

.p-1 {
    display: flex;
    margin-bottom: 50px;
    margin-right: 100px;
}

.p-1 img {
    width: 300px;
    border-radius: 50px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(116, 79, 79, 0.19); */
}

.p-1 div {
    margin-right: 100px;
}

.p-1 div h2{
    font-size: 30px;
    font-weight: 200;
    line-height: .5rem;
    margin-bottom: 50px;
}

.p-1 div p {
    font-size: 20px;
    font-weight: 200;
    line-height: 1.5rem;
    padding-bottom: 20px;
}
 
.p-1 div a {
    font-size: 16px;
    text-decoration: none;
    border: solid 1px ;
    border-radius: 5px;
    color: black;
    /* background-color: rgb(20, 20, 161); */
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 20px;
    padding-left: 20px;
    /* margin-top: 40px; */
}

.track {
    margin-top: 100px;
}

.track h1 {
    font-size: 50px;
    font-weight: 200;
    line-height: .5rem;
    margin-bottom: 70px;
}

.track p {
    font-size: 20px;
    font-weight: 200;
    line-height: .3rem;
    /* padding-bottom: px; */
}

.form {
    display: flex;
}

form .div-2 {
    padding-left: 10px;
}

.div-2 input {
    border: 1px solid grey;
    padding: 10px;
    border-radius: 5px;
    font-weight: 100;
    font-size: 17px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(116, 79, 79, 0.19);
}

.div-2 input[type="text"] {
    width: 300px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(116, 79, 79, 0.19);
}

.div-2 input[type='submit']{
    width: 80px;
    color: white;
    background-color: rgb(1, 1, 48);
    font-size: 17px;
}

.footer {
    margin-top: 100px;
    margin-left: 50px;
    background-color: lightgray;
    margin-left: -30px;
    padding-top: 50px;
}

.foot-1 {
    display: flex;
    font-size: 16px;
    font-weight: 200;
    line-height: 1.5rem;
    list-style-type: armenian;
}

.foot-1 ul {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5rem;
    list-style-type: circle;
}

.foot-1 h1 {
    font-size: 30px;
    font-weight: 200;
    line-height: .5rem;
    margin-bottom: 30px;
}

.foot-1 .left {
    margin-right: 200px;
    margin-left: 60px;
}

form input {
    padding: 10px;
    width: 300px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(116, 79, 79, 0.19);
}

textarea {
    width: 317px;
    border: 1px solid grey;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(116, 79, 79, 0.19);
}

form input[type='submit'] {
    width: 325px;
    color: white;
    background-color: rgb(1, 1, 48);
    font-size: 17px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(116, 79, 79, 0.19);
}

.foot-2 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
    margin-top: 20px;
}

.foot-2 img {
    margin-left: 30px;
}

.foot-2 ul {
    display: flex;
    margin-right: 30px;
}

.foot-2 ul li {
    padding-right: 50px;
    padding-top: 50px;
}

.foot-2 ul li a {
    text-decoration: none;
    color: black;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(1, 1, 48); /* Set a background color */
    color: whitesmoke; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
    transition: all 0.4s;
  }
  
  #myBtn:hover {
    background-color:  rgb(250, 105, 9); /* Add a dark-grey background on hover */
  }

/* body { 
  animation: transfrom 1s linear forwards;
  transform: translateX(100%);
}

@keyframes transform {
    0% {
        transform: translateX(0%);
    }  
    
    33% {
        transform: translateY(100%);
    }  
    
    66% {
        transform: translateX(100%) translateX(100%);
    }  

    100% {
      transform: translateX(100%);
  }  
   */
/* }  */

  @media only screen and (max-width: 767px) {

    .pics{
        margin-right: 30px ;
    }
    
    #hide-mobile {
        display: none;
    }
    .hide-desktop{
        display: block;
    }
    #exit-btn {
        display: block;
        color: white;
    }
    
    nav ul li {
        float: left;
    }
    #hide-mobile li {
        margin-right: 0;
    }
    
    nav ul li a {
        color: black;
        background-color: inherit;
        text-align: right;
        padding: 1em 2em;
    }
    
    nav ul li a:hover {
        background-color: inherit;
    }
    
    nav ul{
        width: 10%;
    }
    
    nav ul {
        position: fixed;
        width: 50%;
        top: 0;
        right: 0;
        text-align: left;
        background: rgb(22, 22, 104);
        height: 100%;
        z-index: 5;
        padding: 3em;
    }
    nav ul .inner-div {
        width: 100%;
        display: block;
    }
    
    nav ul .inner-div > div{
        background-color: rgb(250, 105, 9);
        padding:  15px;
        border-radius: 3px;
        color: rgb(22, 22, 104);
        margin-bottom: 10px;
    }
    nav ul .inner-div > div a {
        text-decoration: none;
    }
    
    nav ul li a {
        color: black;
        text-decoration: none;
        display: inline-block;
        background-color: rgb(55, 63, 68);
        
    }
    
    nav ul li a:hover{
        background-color: rgb(53, 60, 65);
    }

    .pics-2 h1 {
        font-size: 30px;
        font-weight: 200;
        line-height: .5rem;
        margin-bottom: 30px;
    }
    
    .pics-2 p{
        font-size: 16px;
        font-weight: 200;
        line-height: .3rem;   
    }

    .about {
        display: block;
        padding-right: 10%;
        padding-left: 5%;
        margin-top: 50px;
        justify-content: space-evenly;

    }
    
    .about img {
        width: 265px;
        margin-bottom: 20px;
        border-radius: 5px;
    
    }
    
    .about p {
        font-size: 16px;
        font-weight: 200;
        line-height: 1.5rem;
        margin-left: 10px;
        margin-right: 0;
    }

    .process {
        display: block;
        margin-left: -20px;
    }

    .process div {
        margin-top: 30px;
    }

    .process div p {
        font-size: 16px;
        font-weight: 200;
        line-height: 1.5rem;
        margin-left: 10px;
        margin-right: 0;
    }

    /* .export { 
        /* margin-right: 20%; */
        /* border: solid 1px ; */
        /* border-radius: 5px; */
        /* margin-left: 0; */
        /* margin-top: 20px; */
        /* padding-bottom: 50px; */
    /* } */

    .export {
        margin-left: 0;
        margin-top: 50px;
        margin-right: 5%;
        border: none;
    }

    .import{
        border: none;
    }

    .information{
        margin-top: 100px;
    }
    
    .info-1{
        margin-bottom: 50px;
    }
    
    .info-1 h1 {
        font-size: 30px;
        font-weight: 200;
        line-height: 1.5rem;
        margin-bottom: 50px;
    }
    
    .info-1 p {
        font-size: 16px;
        font-weight: 200;
        line-height: 1.5rem;
        padding-right: 30px;
    }

    .info-2 {
        display: block;
    }
    
    .info-2 img {
        width: 260px;
        margin-bottom: 30px;
        padding-right: 0px;
        padding-left: 0px;
        border-radius: 5px;
        
    }
    
    .info-2 div {
        /* border: solid 1px ;
        border-radius: 5px; */
        border: none;
        margin-right: 50px;
        margin-left: 20px;
        margin-top: 40px;
    }
    
    .info-2 div h3 {
        padding-left: 10%;
        padding-right: 10%;
        line-height: .5rem;
        font-size: 30px;
    } 
    
    .info-2 div p {
        font-size: 30px;
        padding-left: 10%;
        padding-right: 10%;
    } 

    .a6 img{
        height: 200px;
    }

    .price{
        margin-top: 100px;
        margin-left: 20px;
    }
    
    .price h1 {
        font-size: 30px;
        font-weight: 200;
        line-height: 1.5rem;
        margin-bottom: 50px;
    }
    
    .p-1 {
        display: block;
        margin-bottom: 50px;
        margin-right: 0px;
    }
    
    .p-1 img {
        margin-top: 50px;
        width: 270px;
        border-radius: 50px;
    }
    
    .p-1 div {
        margin-right: 100px;
    }
    
    .p-1 div h2{
        font-size: 20px;
        font-weight: 200;
        line-height: .5rem;
        margin-bottom: 50px;
    }
    
    .p-1 div p {
        font-size: 16px;
        font-weight: 200;
        line-height: 1.5rem;
        margin-right: -20px;
        padding-bottom: 20px;
    }

    .form {
        display: block;
    }

    .foot-1 {
        display: block;
        font-size: 20px;
        font-weight: 200;
        line-height: 1.5rem;
        list-style-type: armenian;
    }

    .foot-1 .left {
        /* font-size: 10px; */
        margin-right: 0px;
        margin-left: 60px;
        margin-top: 50px
    }

    .foot-1 div form {
        margin-top: 50px;
        margin-left: 20px;
    } 

    .foot-2 ul {
        display: none;
    }

    .foot-2 img {
        margin-left: 30px;
    }

    .track p {
        font-size: 16px;
        font-weight: 200;
        line-height: 1.5rem;
        /* padding-bottom: px; */
    }

    form .div-2 {
        padding-left: 0px;
    }
    

  }

  @media only screen and (max-width: 914px) {
    .about img {
        width: 310px;
    }

    .info-2 img {
        width: 310px;
    }

    .foot-1 div form {
        /* margin-top: 50px; */
        margin-left: 35px;
    } 

  }

  @media only screen and (max-width: 653px) {
    .about img {
        width: 200px;
    }

    .info-2 img {
        width: 180px;
    }

    .foot-1 div form {
        /* margin-top: 50px; */
        margin-left: 5px;
    } 

    .p-1 img {
        margin-top: 50px;
        width: 200px;
        border-radius: 50px;
    }

    /* input { 
        width: 100px;
    } */
    

  }

  @media only screen and (max-width: 720px) {
    .about img {
        width: 410px;
    }

    .info-2 img {
        width: 440px;
    }

    .foot-1 div form {
        /* margin-top: 50px; */
        margin-left: 50px;
    } 
  }

  @media only screen and (max-width: 915px) {
    .about img {
        width: 310px;
    }

    .info-2 img {
        width: 310px;
    }
  }

  @media only screen and (max-width: 740px) {
    .about img {
        width: 265px;
    }

    .info-2 img {
        width: 260px;
    }

    .foot-1 div form {
        /* margin-top: 50px; */
        margin-left: 15px;
    } 
  }

  @media only screen and (max-width: 740px) {
    .about img {
        width: 300px;
    }

    .info-2 img {
        width: 290px;
    }

    .foot-1 div form {
        /* margin-top: 50px; */
        margin-left: 30px;
    } 
  }

  @media only screen and (max-width: 740px) {
    .about img {
        width: 310px;
    }

    .info-2 img {
        width: 310px;
    }

    /* .foot-1 div form { */
        /* margin-top: 50px; */
        /* margin-left: 30px; */
    /* }  */
  }

  @media only screen and (max-width: 667px) {
    .about img {
        width: 280px;
    }

    .info-2 img {
        width: 280px;
    }
  }




   


